<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/H1.svg">
    <title>Introductie Rouwtaken</title>
</head>
<body>
   <section class="images">
    <div class="image-container color-1">
        <h1>Rouwtaak 1</h1> 
        <img src="/assets/Mesh-Grad-1.svg" alt="Image 1">
    </div>
    <div class="image-container color-2">
        <h1>Rouwtaak 2</h1> 
        <img src="/assets/Mesh-Grad-2.svg" alt="Image 2">
    </div>
    <div class="image-container color-3">
        <h1>Rouwtaak 3</h1> 
        <img src="/assets/Mesh-Grad-3.svg" alt="Image 3">
    </div>
    <div class="image-container color-4"> 
        <h1>Rouwtaak 4</h1> 
        <img src="/assets/Mesh-Grad-4.svg" alt="Image 4">
    </div>
    <div class="blob" aria-hidden="true"></div> 
</section>
</body>
</html>