/* Global Styles */
body {
    background-color: #111111;
    color: #F5F5F5;
}

/* Font Faces */
@font-face {
    font-family: 'CalvinoGrande';
    src: url('../assets/fonts/Calvino-Grande-Extrabold-trial.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/Figtree-Bold.woff2') format('woff2'),
         url('../assets/fonts/Figtree-Bold.woff') format('woff'),
         url('../assets/fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Logo Drop&Heal stlyling */
.dropheal-logo, .drop-and-heal-logo-2 {
    display: block;
    margin: auto;
    width: clamp(150px, 20%, 600px); /* Adjusts width for mobile */
    padding: clamp(2em, 10vw, 10em) 0 clamp(1em, 5vw, 5em); /* Responsive padding */
    transform: scale(0);
    animation: zoomIn 2s forwards; /* Slower zoom */
}

.drop-and-heal-logo-2{
    display: block;
    margin: auto;
    width: clamp(150px, 10%, 600px); /* Adjusts width for mobile */
    padding: clamp(2em, 10vw, 10em) 0 clamp(1em, 5vw, 5em); /* Responsive padding */
    transform: scale(0);
    animation: zoomIn 2s forwards; /* Slower zoom */
}

@keyframes zoomIn {
    to {
        transform: scale(1);
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Text Styles */
.introduction-text, .rouwtaken-text-content{
    font-family: 'Figtree';
    font-size: clamp(0.5em, 4.2vw, 1.2em);
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: auto;
    width: clamp(90%, 30em, 100%); 
    max-width: 30em;
    padding: 0 1em; 
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1s forwards;
    animation-delay: 2s;
}

.content-explanation{
    font-family: 'Figtree';
    font-size: clamp(0.5em, 4.2vw, 1.2em);
    font-weight: lighter;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin:auto;
    margin-bottom: 1em;
    width: clamp(90%, 30em, 100%); 
    max-width: 30em;
    padding: 0 1em; 
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1s forwards;
    animation-delay: 2s;

}


.rouwtaken-title {
    font-family: 'CalvinoGrande';
    font-size: 2.5em;
    max-width: 50%;
    margin:auto;
    margin-top: 4em;
}

/* Buttons */
.action-button {
    font-family: 'Figtree', sans-serif;
    border: 1px solid #F5F5F5;
    cursor: pointer;
    color: #F5F5F5;
    border-radius: 1em;
    font-size: 1em;
    height: 30px;
    padding: 0 2em;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2.5em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 3s; /* Delay until text has appeared */
}

.action-button:hover, .round-action-button:hover {
    border: 1px solid #74DFDC;
    box-shadow: rgb(49 172 236 / 60%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

.round-action-button {
    border: 1px solid #F5F5F5;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    padding: 1em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: 3s; /* Delay until text has appeared */
}

/* Material Icons */
.material-icons, .material-symbols-rounded {
    color: #F5F5F5;
    font-size: 2em;        
}

/* Blob Styles */
.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px; 
    height: 350px; 
    border-radius: 250%;
    background-color: #31aaec95; 
    filter: blur(150px);
    transition: all 450ms ease-out;
    position: fixed; 
    pointer-events: none;
    left: 0; 
    top: 0; 
    transform: translate(calc(-50% + 15px), -50%); 
    z-index: -1; 
    animation: shift-back 1s forwards;
}

.color-1:hover ~ .blob {
    animation: shift-1 1s forwards;
}

.color-2:hover ~ .blob {
    animation: shift-2 1s forwards;
}

.color-3:hover ~ .blob {
    animation: shift-3 1s forwards;
}

.color-4:hover ~ .blob {
    animation: shift-4 1s forwards;
}

/* Keyframes for Blob Animation */
@keyframes shift-1 {
    to { background-color: #2F687E; }
}

@keyframes shift-2 {
    to { background-color: #8C3138; }
}

@keyframes shift-3 {
    to { background-color: #835429; }
}

@keyframes shift-4 {
    to { background-color: #B66066; }
}

@keyframes shift-back {
    from { background-color: #251534; }
    to { background-color: #551a1a; }
}


/* Background Images */
.background-image {
    position: absolute;
    z-index: -1;
    right: 0; 
    top: 0;
    height: 100%; 
    width: auto; 
    opacity: 0.5;
}

/* Centering Container */
.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 5em;
}

/* Image Container */
.images {
    display: flex;
    justify-content: center;
    gap: 8em;
    margin-bottom: 2em;
    cursor: pointer;
}

.image-container {
    position: relative; 
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1em, 2vw, 1.5em); 
    margin-top: clamp(2em, 5vw, 5em);
}

/* Buttons */
#back, #forward {
    background-color: transparent;
    border: 2px solid #F5F5F5;
    border-radius: 50%;
    padding: clamp(10px, 2vw + 5px, 15px);
    width: clamp(50px, 10vw, 70px); 
    height: clamp(50px, 10vw, 70px); 
    cursor: pointer;
    transition: transform 0.3s;
}


/* styles/styles.css */
.rouwtaken-image-container {
    display: flex;               
    justify-content: center;  
    padding: 10em; 
    gap: 5em;             
}

